In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000000)
pd.options.mode.chained_assignment = None

In [3]:
clean_df = pd.read_csv('data/play_by_play_2016.csv').drop(columns='Unnamed: 0')

In [4]:
remove_cols = ['Fielders Choice', 'Sacrifice Fly', 'Fielder\'s Choice-Adv-2nd', 
               'Sacrifice Bunt', 'Reached on error-Adv-3rd', 'Reached on error-Adv-2nd', 
               'Catcher Interference', 'Sacrifice Bunt-Adv-2nd', 'Sacrifice Bunt', 
               'Dirt Ball', 'Sacrifice Fly-Adv-2nd', 'Fielders Choice - Out at 2nd', 
               'Sacrifice Fly-Adv-1st', 'Sacrifice Bunt-Adv-1st', 'Reached On Error - Out at 2nd', 
               'Balk', 'Reached on error', 'Hit by pitch']

high_level_groupings = {
    'ball' : ['Ball', 'Intentional Ball', 'Pitch Out'], 
    
    'strike' : 
        ['Strike Looking', 'Strike Swinging', ' Strike Swinging - Out at Home', 
         'Strike-swinging-Adv-1st', 'Strike-looking-Adv-1st', 'Single - Out at 3rd', 
         'Strike Looking - Out at 1st'], 
    
    'contact_in_play_out' : 
        ['Pop Out', 'Ground Out', 'Fly Out', 'Line Out'], 
    
    'contact_in_on_base' : 
        ['Homerun', 'Single', 'Double', 'Single - Out at 2nd', 'Triple', 'Single-Adv-2nd', 
         'Double-Adv-3rd', 'Double Out at 3rd', 'Single-Adv-Home', 'Single-Adv-3rd', 'Double-Adv-Home', 
         'Triple-Adv-Home', 'Triple - Out at Home', 'Double-Adv-Home'], 
    
    'contact_foul' : ['Foul Ball', 'Foul Tip', ]
}

In [5]:
# remove any bat_id with 'rare' events (~10% of at-bats)
remove_ids = clean_df.loc[clean_df['outcomeDescription'].isin(remove_cols)]['bat_id'].unique()
clean_df = clean_df.loc[~clean_df['bat_id'].isin(remove_ids)]

# theres currently no assignment for a walk; create new column for outcome called walk
clean_df['walk_flag'] = np.where(
    ((clean_df['startingBalls'] == 3) & 
     (clean_df['outcomeDescription'].isin(high_level_groupings['ball']))), 1, 0
)

# do the same for strikes
clean_df['strikeout_flag'] = np.where(
    ((clean_df['startingStrikes'] == 2) & 
    (clean_df['outcomeDescription'].isin(high_level_groupings['strike']))), 1, 0
)

# put the previous ids in the data
clean_df['prev_state_id'] = (
    clean_df.sort_values(by=['bat_id', 'event_num'], ascending=True)
      .groupby('bat_id')['outcomeId']
      .shift(1)
      .fillna('bFP')
)

clean_df['prev_state_desc'] = (
    clean_df.sort_values(by=['bat_id', 'event_num'], ascending=True)
      .groupby('bat_id')['outcomeDescription']
      .shift(1)
      .fillna('First Pitch')
)

# assign based on the dictonary above
clean_df['assigned_outcome'] = ''
clean_df['prev_assigned_outcome'] = ''
for outcome, grouping in high_level_groupings.items(): 
    clean_df['assigned_outcome'] = np.where(
        clean_df['walk_flag'] == 1, 'walk', 
            np.where(clean_df['strikeout_flag'] == 1, 'strikeout',
                np.where(
                    clean_df['outcomeDescription'].isin(grouping), outcome, clean_df['assigned_outcome']
                )
            )          
        )
    
    # has the previous outcomes as the same grouping (except itis imporssible to get a walk here)
    clean_df['prev_assigned_outcome'] = np.where(
            clean_df['prev_state_desc'] == 'First Pitch', 'first_pitch',
            np.where(
                clean_df['prev_state_desc'].isin(grouping), outcome, clean_df['prev_assigned_outcome']
            )
    )

There are some fluke occurrences that will lead to werid things in the data. I'll remove these for this analysis rather than trying to compensate (about 450 AB's)

For an example (Home Run called back on second pitch), see here: https://www.mlb.com/video/search?q=BatterId+%3D+%5B467793%5D+AND+PlayerId+%3D%3D+%5B112526%5D+AND+Inning+%3D+%5B1%5D+Order+By+Timestamp+DESC

In [6]:
bad_cols = ['contact_in_on_base', 'contact_in_play_out']
bad_records = clean_df.loc[clean_df['prev_assigned_outcome'].isin(bad_cols)]['bat_id'].unique()

# remove these records from the data
clean_df = clean_df.loc[~clean_df['bat_id'].isin(bad_records)]

### Get the transition matrix for the Entire MLB

In [7]:
def compute_transition_matrix(matrix_df): 
    transition_matrix = pd.pivot_table(
        data=matrix_df[['pitch_id', 'assigned_outcome', 'prev_assigned_outcome']], 
        index='prev_assigned_outcome', 
        columns='assigned_outcome',
        aggfunc='count', 
        fill_value=0
    )

    transition_matrix.columns = [i[1] for i in transition_matrix.columns.to_flat_index()]
    transition_matrix = (
        transition_matrix.reset_index().rename(columns={'prev_assigned_outcome' : 'previous_play'})
    )

    transition_matrix['total'] = transition_matrix.sum(axis=1)
    for col in [i for i in transition_matrix.columns if i not in ['previous_play', 'total']]: 
        transition_matrix[col] = transition_matrix[col] / transition_matrix['total']

    # transition_matrix = transition_matrix.drop(columns='total')
    return transition_matrix

In [8]:
# see the matrix for the entire mlb
compute_transition_matrix(matrix_df=clean_df)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  strikeout      walk   total
0          ball  0.278140      0.199762            0.073851             0.136458  0.224339   0.048297  0.039153  192374
1  contact_foul  0.320865      0.234311            0.077727             0.152527  0.062540   0.129723  0.022307  102526
2   first_pitch  0.386704      0.107284            0.041843             0.073729  0.390428   0.000007  0.000007  152763
3        strike  0.361585      0.198030            0.066151             0.132555  0.160950   0.068333  0.012396  130127

### Get this for a certain batter and at a certain time (pitch count)

### Compute the transition matrix at every point in a certain at bat

In [9]:
def prob_next_state(hitter_matrix, pitcher_matrix): 
    
    # get the columns that are in pitcher but not in hitter (for 0 prob)
    h_missing_cols = [i for i in pitcher_matrix.columns if i not in hitter_matrix.columns]
    p_missing_cols = [i for i in hitter_matrix.columns if i not in pitcher_matrix.columns]

    # add the columns with 0's if not in
    if len(h_missing_cols) > 0:
        for i in h_missing_cols: 
            hitter_matrix[i] = 0

    if len(p_missing_cols) > 0:
        for i in p_missing_cols: 
            pitcher_matrix[i] = 0

    # make sure the rows are (for prev play) are in the same order
    common_rows = [
        i for i in hitter_matrix['previous_play'].unique() 
        if i in pitcher_matrix['previous_play'].unique()
    ]

    # get the common order between the two
    row_order = {i:j for i,j in enumerate(common_rows)}
    
    # force the dataframes to be in that order
    hitter_m = hitter_matrix.sort_values(by=['previous_play'], key=lambda x: x.map(row_order))
    pitcher_m  = pitcher_matrix.sort_values(by=['previous_play'], key=lambda x: x.map(row_order))
    
    results_df = pd.DataFrame()
    cols = [i for i in hitter_matrix.columns if i not in ['previous_play', 'total']]
    results_df['previous_play'] = common_rows
    for col in cols:
        results_df[col] = cumulative_prob(
            pa=hitter_matrix[col], 
            pb=pitcher_matrix[col], 
            an=hitter_matrix['total'], 
            bn=pitcher_matrix['total']
    )
        
    return results_df

def compute_hitter_matrix(clean_df, hitter, strikes, balls, bat_id): 
    # compute for all the hitter matrix
    hitter_state_df = clean_df.loc[
        ((clean_df['hitter_full_name'] == hitter) & 
         (clean_df['bat_id'] != bat_id) & 
         (clean_df['startingStrikes'] == strikes) & 
         (clean_df['startingBalls'] == balls))
    ]
    
    hitter_matrix = compute_transition_matrix(matrix_df=hitter_state_df)
    return hitter_matrix

def compute_pitcher_matrix(clean_df, pitcher, strikes, balls, bat_id): 
    pitcher_state_df = clean_df.loc[
        ((clean_df['pitcher_full_name'] == pitcher) & 
         (clean_df['bat_id'] != bat_id) & 
         (clean_df['startingStrikes'] == strikes) & 
         (clean_df['startingBalls'] == balls))
    ]
    
    pitcher_matrix = compute_transition_matrix(matrix_df=pitcher_state_df)
    return pitcher_matrix

def cumulative_prob(pa, pb, an, bn): 
    a_prob = pa * (1-bn/(an+bn))
    b_prob = pb * (1-an/(bn+an))
    cumul_prob = a_prob + b_prob
    return cumul_prob

In [37]:
# choose 20000 random at-bats
r_bat_id = random.randint(0, len(clean_df['bat_id'].unique()))
n = 20000
test_bat_ids = clean_df['bat_id'].unique()[r_bat_id:r_bat_id+n]

In [38]:
results_df = pd.DataFrame()
for counter_i, test_bat_id in enumerate(test_bat_ids): 
    bat_df = clean_df.loc[clean_df['bat_id'] == test_bat_id]
    
    # get the name of the hitter and pitcher
    hitter, pitcher = bat_df['hitter_full_name'].unique().item(), bat_df['pitcher_full_name'].unique().item()
    total_events = sorted(bat_df['event_num'].tolist())

    for event in total_events: 
        # get the count at that event in time
        count_df = bat_df.loc[bat_df['event_num'] == event]
        pitch_id = count_df['pitch_id'].item()
        prev_outcome = count_df['prev_assigned_outcome'].item()
        actual_outcome = count_df['assigned_outcome'].item()
        balls, strikes = count_df['startingBalls'].item(), count_df['startingStrikes'].item()
        
        # pull the transition matrix for all times this count occured in the dataset
        # remove this certain at bat for both hitter and pitcher
        hitter_matrix = compute_hitter_matrix(
            clean_df=clean_df, 
            hitter=hitter, 
            strikes=strikes, 
            balls=balls, 
            bat_id=bat_id
        )


        pitcher_matrix = compute_pitcher_matrix(
            clean_df=clean_df, 
            pitcher=pitcher, 
            strikes=strikes, 
            balls=balls, 
            bat_id=bat_id
        )

        # print(f'Balls: {balls}; Strikes: {strikes};')
        all_comb_prob = prob_next_state(hitter_matrix, pitcher_matrix)
        certain_comb_prob = all_comb_prob.loc[all_comb_prob['previous_play'] == prev_outcome]
        certain_comb_prob['actual_outcome'] = actual_outcome
        certain_comb_prob['pitch_id'] = pitch_id
        results_df = pd.concat([results_df, certain_comb_prob], axis=0)
    
    # write out to csv in case something goes wrong (every 500 iterations)
    if counter_i % 500 == 0: 
        results_df.to_csv(f'results_df_{counter_i}.csv')

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

In [40]:
import os
# get all of the csvs that have written out from process
csvs = sorted([i for i in os.listdir() if i.startswith('results_df')])

results_df = pd.DataFrame()
for csv in csvs:
    t = pd.read_csv(csv)
    results_df = pd.concat([results_df, t], axis=0)

In [41]:
results_df.head(50)

    Unnamed: 0 previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike       actual_outcome                                           pitch_id  strikeout      walk
0            0   first_pitch  0.350211      0.122363            0.037975             0.056259  0.433193                 ball  b77ac3a4-673b-4644-b7fd-dcc720bca88b565de4be-d...        NaN       NaN
1            0          ball  0.322581      0.149194            0.060484             0.104839  0.362903               strike  b77ac3a4-673b-4644-b7fd-dcc720bca88b565de4be-d...        NaN       NaN
2            2        strike  0.344444      0.188889            0.066667             0.100000  0.300000               strike  b77ac3a4-673b-4644-b7fd-dcc720bca88b565de4be-d...        NaN       NaN
3            2        strike  0.348837      0.255814            0.116279             0.104651       NaN   contact_in_on_base  b77ac3a4-673b-4644-b7fd-dcc720bca88b565de4be-d...   0.174419       NaN
4            0   first_pitch  0.368347      0.107843            0.036415             0.079832  0.407563               strike  b7b37ed4-5752-4a4f-a581-d7312ed598aa565de4be-d...        NaN       NaN
5            1        strike  0.384880      0.230241            0.044674             0.120275  0.219931                 ball  b7b37ed4-5752-4a4f-a581-d7312ed598aa565de4be-d...        NaN       NaN
6            0          ball  0.312057      0.234043            0.078014             0.127660  0.248227   contact_in_on_base  b7b37ed4-5752-4a4f-a581-d7312ed598aa565de4be-d...        NaN       NaN
7            0   first_pitch  0.370044      0.104626            0.048458             0.089207  0.387665               strike  b7b712f2-35a6-4802-8289-4f14af92d13c565de4be-d...        NaN       NaN
8            1        strike  0.474432      0.167614            0.056818             0.102273  0.198864                 ball  b7b712f2-35a6-4802-8289-4f14af92d13c565de4be-d...        NaN       NaN
9            0          ball  0.328431      0.210784            0.053922             0.186275  0.220588                 ball  b7b712f2-35a6-4802-8289-4f14af92d13c565de4be-d...        NaN       NaN
10           0          ball  0.234783      0.252174            0.095652             0.208696  0.208696                 ball  b7b712f2-35a6-4802-8289-4f14af92d13c565de4be-d...        NaN       NaN
11           0          ball       NaN      0.382353            0.088235             0.294118  0.147059         contact_foul  b7b712f2-35a6-4802-8289-4f14af92d13c565de4be-d...        NaN  0.088235
12           1  contact_foul       NaN      0.285714            0.107143             0.285714       NaN  contact_in_play_out  b7b712f2-35a6-4802-8289-4f14af92d13c565de4be-d...   0.107143  0.214286
13           0   first_pitch  0.356589      0.056848            0.038760             0.062016  0.485788                 ball  b7ef4277-3d26-4700-a62f-02bee1b05fb0565de4be-d...        NaN       NaN
14           0          ball  0.311594      0.159420            0.094203             0.079710  0.355072               strike  b7ef4277-3d26-4700-a62f-02bee1b05fb0565de4be-d...        NaN       NaN
15           2        strike  0.346939      0.142857            0.061224             0.163265  0.285714  contact_in_play_out  b7ef4277-3d26-4700-a62f-02bee1b05fb0565de4be-d...        NaN       NaN
16           0   first_pitch  0.400248      0.059480            0.026022             0.044610  0.469641                 ball  b7ef4277-3d26-4700-a62f-02bee1b05fb0565de4be-d...        NaN       NaN
17           0          ball  0.401840      0.101227            0.036810             0.052147  0.407975               strike  b7ef4277-3d26-4700-a62f-02bee1b05fb0565de4be-d...        NaN       NaN
18           2        strike  0.353383      0.142857            0.067669             0.142857  0.293233  contact_in_play_out  b7ef4277-3d26-4700-a62f-02bee1b05fb0565de4be-d...        NaN       NaN
19           0   first_pitch  0.392079      0.114851            0.041584             0.091089  0.360396               strike  b7f9f9c6-8319-48aa-8a1e-161e13ef81b7565de4be-d...        NaN       NaN
20           1        strike  0.379121      0.203297            0.043956             0.153846  0.219780               strike  b7f9f9c6-8319-48aa-8a1e-161e13ef81b7565de4be-d...        NaN       NaN
21           1        strike  0.480769      0.230769            0.019231             0.115385       NaN                 ball  b7f9f9c6-8319-48aa-8a1e-161e13ef81b7565de4be-d...   0.153846       NaN
22           0          ball  0.233333      0.283333            0.016667             0.200000       NaN         contact_foul  b7f9f9c6-8319-48aa-8a1e-161e13ef81b7565de4be-d...   0.266667       NaN
23           1  contact_foul  0.313953      0.174419            0.093023             0.151163       NaN            strikeout  b7f9f9c6-8319-48aa-8a1e-161e13ef81b7565de4be-d...   0.267442       NaN
24           0   first_pitch  0.402597      0.093074            0.056277             0.097403  0.350649                 ball  b801be43-915d-4130-a8ca-4857b4840e32565de4be-d...        NaN       NaN
25           0          ball  0.311828      0.193548            0.096774             0.134409  0.263441                 ball  b801be43-915d-4130-a8ca-4857b4840e32565de4be-d...        NaN       NaN
26           0          ball  0.275862      0.155172            0.120690             0.189655  0.258621                 ball  b801be43-915d-4130-a8ca-4857b4840e32565de4be-d...        NaN       NaN
27           0          ball       NaN           NaN                 NaN                  NaN  0.500000               strike  b801be43-915d-4130-a8ca-4857b4840e32565de4be-d...        NaN  0.500000
28           1        strike       NaN      0.125000            0.000000             0.375000  0.375000  contact_in_play_out  b801be43-915d-4130-a8ca-4857b4840e32565de4be-d...        NaN  0.125000
29           0   first_pitch  0.391667      0.102778            0.061111             0.055556  0.388889               strike  b82a5660-0f67-4c1c-b11d-a2f6d89e5cb1565de4be-d...        NaN       NaN
30           1        strike  0.397163      0.170213            0.070922             0.106383  0.255319                 ball  b82a5660-0f67-4c1c-b11d-a2f6d89e5cb1565de4be-d...        NaN       NaN
31           0          ball  0.346821      0.219653            0.063584             0.115607  0.254335                 ball  b82a5660-0f67-4c1c-b11d-a2f6d89e5cb1565de4be-d...        NaN       NaN
32           0          ball  0.333333      0.250000            0.064815             0.101852  0.250000         contact_foul  b82a5660-0f67-4c1c-b11d-a2f6d89e5cb1565de4be-d...        NaN       NaN
33           1  contact_foul  0.190476      0.250000            0.095238             0.202381       NaN         contact_foul  b82a5660-0f67-4c1c-b11d-a2f6d89e5cb1565de4be-d...   0.261905       NaN
34           1  contact_foul  0.190476      0.250000            0.095238             0.202381       NaN            strikeout  b82a5660-0f67-4c1c-b11d-a2f6d89e5cb1565de4be-d...   0.261905       NaN
35           0   first_pitch  0.433511      0.074468            0.029255             0.063830  0.398936                 ball  b8596d02-2072-4299-94c2-ee01e4703d6f565de4be-d...        NaN       NaN
36           0          ball  0.363077      0.150769            0.043077             0.101538  0.341538         contact_foul  b8596d02-2072-4299-94c2-ee01e4703d6f565de4be-d...        NaN       NaN
37           1  contact_foul  0.448980      0.183673            0.061224             0.142857  0.163265                 ball  b8596d02-2072-4299-94c2-ee01e4703d6f565de4be-d...        NaN       NaN
38           0          ball  0.303571      0.250000            0.080357             0.178571  0.187500               strike  b8596d02-2072-4299-94c2-ee01e4703d6f565de4be-d...        NaN       NaN
39           2        strike  0.281250      0.343750            0.093750             0.125000       NaN         contact_foul  b8596d02-2072-4299-94c2-ee01e4703d6f565de4be-d...   0.156250       NaN
40           1  contact_foul  0.296296      0.259259            0.046296             0.194444       NaN                 ball  b8596d02-2072-4299-94c2-ee01e4703d6f565de4be-d...   0.203704       NaN
41           0          ball       NaN      0.281250            0.140625             0.156250       NaN   contact_in_on_base  b8596d02-2072-4299-94c2-ee01e4703d6f565de4be-d...   0.109375  0.312500
42           0   first_pitch  0.408627      0.112941            0.044706             0.070588  0.363137         contact_foul  b87ee9cf-f092-4b5b-b24b-20d775e2584f565de4be-d...        NaN       NaN
43           0  contact_foul  0.381944      0.201389            0.041667             0.166667  0.208333                 ball  b87ee9cf-f092-4b5b-b24b-20d775e2584f565de4be-d...        NaN       NaN
44           0          ball  0.294372      0.203463            0.125541             0.147186  0.229437         contact_foul  b87ee9cf-f092-4b5b-b24b-20d775e2584f565de4be-d...        NaN       NaN
45           1  contact_foul  0.343915      0.259259            0.105820             0.169312       NaN                 ball  b87ee9cf-f092-4b5b-b24b-20d775e2584f565de4be-d...   0.121693       NaN
46           0          ball  0.263566      0.279070            0.100775             0.193798       NaN            strikeout  b87ee9cf-f092-4b5b-b24b-20d775e2584f565de4be-d...   0.162791       NaN
47           0   first_pitch  0.379023      0.115614            0.038141             0.087008  0.380215               strike  b8a29e47-684a-445f-bf00-f1dca2e482af565de4be-d...        NaN       NaN
48           1        strike  0.432602      0.188088            0.034483             0.100313  0.244514         contact_foul  b8a29e47-684a-445f-bf00-f1dca2e482af565de4be-d...        NaN       NaN
49           0  contact_foul  0.423729      0.127119            0.084746             0.161017       NaN                 ball  b8a29e47-684a-445f-bf00-f1dca2e482af565de4be-d...   0.203390       NaN

### Simulate for a couple random at bats to show how process words

In [45]:
# choose 20000 random at-bats
r_bat_id = random.randint(0, len(clean_df['bat_id'].unique()))
n = 5
test_bat_ids = clean_df['bat_id'].unique()[r_bat_id:r_bat_id+n]

In [47]:
results_df = pd.DataFrame()
for counter_i, test_bat_id in enumerate(test_bat_ids): 
    bat_df = clean_df.loc[clean_df['bat_id'] == test_bat_id]
    
    # get the name of the hitter and pitcher
    hitter, pitcher = bat_df['hitter_full_name'].unique().item(), bat_df['pitcher_full_name'].unique().item()
    print(f'The hitter is: {hitter}')
    print(f'The pitcher is: {pitcher}')
    total_events = sorted(bat_df['event_num'].tolist())

    for event in total_events: 
        # get the count at that event in time
        count_df = bat_df.loc[bat_df['event_num'] == event]
        pitch_id = count_df['pitch_id'].item()
        prev_outcome = count_df['prev_assigned_outcome'].item()
        actual_outcome = count_df['assigned_outcome'].item()
        balls, strikes = count_df['startingBalls'].item(), count_df['startingStrikes'].item()
        print(f'The count is {balls}-{strikes}')
        
        # pull the transition matrix for all times this count occured in the dataset
        # remove this certain at bat for both hitter and pitcher
        hitter_matrix = compute_hitter_matrix(
            clean_df=clean_df, 
            hitter=hitter, 
            strikes=strikes, 
            balls=balls, 
            bat_id=bat_id
        )
        display('Hitter Matrix ', hitter_matrix)

        pitcher_matrix = compute_pitcher_matrix(
            clean_df=clean_df, 
            pitcher=pitcher, 
            strikes=strikes, 
            balls=balls, 
            bat_id=bat_id
        )
          
        display('Pitcher Matrix ', pitcher_matrix)

        all_comb_prob = prob_next_state(hitter_matrix, pitcher_matrix)
        certain_comb_prob = all_comb_prob.loc[all_comb_prob['previous_play'] == prev_outcome]
        certain_comb_prob['actual_outcome'] = actual_outcome
        display('Events Probibility', certain_comb_prob)
        certain_comb_prob['pitch_id'] = pitch_id
        results_df = pd.concat([results_df, certain_comb_prob], axis=0)
    
    print('-' * 100)

The hitter is: Brian_McCann
The pitcher is: Brad_Ziegler
The count is 0-0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play     ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0   first_pitch  0.43908      0.091954            0.016092             0.062069  0.390805    435

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0   first_pitch  0.451737      0.092664            0.034749             0.084942  0.335907    259

'Events Probibility'

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike actual_outcome
0   first_pitch  0.443804      0.092219            0.023055             0.070605  0.370317           ball

The count is 1-0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play     ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0          ball  0.39267       0.13089            0.057592             0.089005  0.329843    191

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0          ball  0.367521      0.136752            0.094017             0.119658  0.282051    117

'Events Probibility'

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike actual_outcome
0          ball  0.383117      0.133117            0.071429             0.100649  0.311688           ball

The count is 2-0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0          ball  0.378378      0.135135            0.040541             0.108108  0.337838     74

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0          ball  0.348837      0.139535            0.116279             0.069767  0.325581     43

'Events Probibility'

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike actual_outcome
0          ball  0.367521      0.136752            0.068376             0.094017  0.333333   contact_foul

The count is 2-1

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0          ball  0.266667      0.216667            0.116667             0.133333  0.266667     60
1  contact_foul  0.400000      0.400000            0.000000             0.100000  0.100000     10
2        strike  0.360000      0.280000            0.040000             0.160000  0.160000     25

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0          ball  0.360000      0.240000            0.040000             0.160000  0.200000     25
1  contact_foul  0.166667      0.166667            0.166667             0.333333  0.166667      6
2        strike  0.285714      0.214286            0.071429             0.285714  0.142857     14

'Events Probibility'

  previous_play    ball  contact_foul  contact_in_on_base  contact_in_play_out  strike       actual_outcome
1  contact_foul  0.3125        0.3125              0.0625               0.1875   0.125  contact_in_play_out

----------------------------------------------------------------------------------------------------
The hitter is: Christopher_Cron
The pitcher is: Masahiro_Tanaka
The count is 0-0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0   first_pitch  0.355932      0.112994            0.050847             0.081921  0.398305    354

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0   first_pitch  0.352601      0.105491            0.063584             0.092486  0.385838    692

'Events Probibility'

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike actual_outcome
0   first_pitch  0.353728      0.108031            0.059273              0.08891  0.390057           ball

The count is 1-0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0          ball  0.325397      0.190476            0.095238             0.103175  0.285714    126

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0          ball  0.319672      0.139344            0.077869             0.127049  0.336066    244

'Events Probibility'

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike actual_outcome
0          ball  0.321622      0.156757            0.083784             0.118919  0.318919   contact_foul

The count is 1-1

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0          ball  0.343750      0.171875            0.125000             0.156250  0.203125     64
1  contact_foul  0.458333      0.333333            0.041667             0.125000  0.041667     24
2        strike  0.333333      0.194444            0.027778             0.166667  0.277778     36

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0          ball  0.283465      0.228346            0.118110             0.157480  0.212598    127
1  contact_foul  0.294118      0.235294            0.088235             0.235294  0.147059     34
2        strike  0.317073      0.207317            0.048780             0.207317  0.219512     82

'Events Probibility'

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike actual_outcome
1  contact_foul  0.362069      0.275862            0.068966             0.189655  0.103448   contact_foul

The count is 1-2

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out  strikeout  total
0          ball  0.258065      0.322581            0.064516             0.193548   0.161290     31
1  contact_foul  0.311475      0.262295            0.081967             0.147541   0.196721     61
2        strike  0.208333      0.458333            0.083333             0.166667   0.083333     24

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out  strikeout  total
0          ball  0.314286      0.228571            0.057143             0.142857   0.257143     70
1  contact_foul  0.336735      0.183673            0.132653             0.214286   0.132653     98
2        strike  0.320000      0.300000            0.040000             0.160000   0.180000     50

'Events Probibility'

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out  strikeout       actual_outcome
1  contact_foul  0.327044      0.213836            0.113208             0.188679   0.157233  contact_in_play_out

----------------------------------------------------------------------------------------------------
The hitter is: Gregorio_Petit
The pitcher is: Masahiro_Tanaka
The count is 0-0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0   first_pitch  0.292553      0.101064            0.047872             0.079787  0.478723    188

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0   first_pitch  0.352601      0.105491            0.063584             0.092486  0.385838    692

'Events Probibility'

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike actual_outcome
0   first_pitch  0.339773      0.104545            0.060227             0.089773  0.405682         strike

The count is 0-1

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0  contact_foul  0.315789      0.263158            0.052632             0.157895  0.210526     19
1        strike  0.333333      0.277778            0.088889             0.133333  0.166667     90

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0  contact_foul  0.383562      0.246575            0.027397             0.178082  0.164384     73
1        strike  0.370787      0.202247            0.044944             0.164794  0.217228    267

'Events Probibility'

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike actual_outcome
1        strike  0.361345      0.221289            0.056022             0.156863  0.204482   contact_foul

The count is 0-2

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out  strikeout  total
0  contact_foul  0.255319      0.255319            0.042553             0.234043   0.212766     47
1        strike  0.578947      0.263158            0.052632             0.000000   0.105263     19

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out  strikeout  total
0  contact_foul  0.401869      0.214953            0.084112             0.186916   0.112150    107
1        strike  0.385714      0.200000            0.042857             0.114286   0.257143     70

'Events Probibility'

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out  strikeout      actual_outcome
0  contact_foul  0.357143      0.227273            0.071429             0.201299   0.142857  contact_in_on_base

----------------------------------------------------------------------------------------------------
The hitter is: Jason_Kipnis
The pitcher is: Marcus_Stroman
The count is 0-0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out   strike  total
0   first_pitch  0.435626      0.047619            0.015873             0.044092  0.45679    567

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0   first_pitch  0.387399      0.101877            0.034853             0.093834  0.382038    746

'Events Probibility'

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike actual_outcome
0   first_pitch  0.408225      0.078446            0.026657             0.072353  0.414318           ball

The count is 1-0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out   strike  total
0          ball  0.340081      0.161943             0.05668             0.097166  0.34413    247

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out   strike  total
0          ball  0.280277       0.16609            0.107266             0.121107  0.32526    289

'Events Probibility'

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike       actual_outcome
0          ball  0.307836      0.164179            0.083955             0.110075  0.333955  contact_in_play_out

----------------------------------------------------------------------------------------------------
The hitter is: Rajai_Davis
The pitcher is: Drew_Storen
The count is 0-0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0   first_pitch  0.386792      0.117925             0.04717             0.089623  0.358491    424

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0   first_pitch  0.340102       0.13198            0.030457             0.040609  0.456853    197

'Events Probibility'

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike actual_outcome
0   first_pitch  0.371981      0.122383            0.041868             0.074074  0.389694           ball

The count is 1-0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play     ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0          ball  0.27439       0.22561            0.115854             0.152439  0.231707    164

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0          ball  0.373134      0.149254            0.074627             0.089552  0.313433     67

'Events Probibility'

  previous_play     ball  contact_foul  contact_in_on_base  contact_in_play_out    strike actual_outcome
0          ball  0.30303      0.203463            0.103896             0.134199  0.255411   contact_foul

The count is 1-1

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Hitter Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0          ball  0.260870      0.260870            0.101449             0.144928  0.231884     69
1  contact_foul  0.351351      0.189189            0.000000             0.135135  0.324324     37
2        strike  0.263158      0.289474            0.052632             0.078947  0.315789     38

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

'Pitcher Matrix '

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike  total
0          ball  0.365854      0.243902            0.097561             0.024390  0.268293     41
1  contact_foul  0.400000      0.100000            0.100000             0.100000  0.300000     10
2        strike  0.333333      0.047619            0.190476             0.190476  0.238095     21

'Events Probibility'

  previous_play      ball  contact_foul  contact_in_on_base  contact_in_play_out    strike       actual_outcome
1  contact_foul  0.361702      0.170213            0.021277              0.12766  0.319149  contact_in_play_out

----------------------------------------------------------------------------------------------------